services:
  db:
    image: mysql
    container_name: mysql-manEmp
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: manEmp
      MYSQL_USER: manuser
      MYSQL_PASSWORD: rootuser
    
    ports:
      - "3306:3306"
    
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    restart: always
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306

volumes:
  mysql_data: